export const environment = {
  production: false,
  homepage: '{{ getv "/imisight/homepage" "http://imisight.net" }},
  gatewayUrl: '{{ getv "/imisight/gatewayUrl" "https://gw.sat.imisight.net" }}',
  auth0: {
    domain: '{{ getv "/imisight/auth0/domain" "imisight-sat.auth0.com" }}',
    clientId: '{{ getv "/imisight/auth0/clientId" "KXLTbs08LtLqrbPwSgn7Ioej0aMB7tf6" }}',
    audience: '{{ getv "/imisight/auth0/audience" "https://gw.sat.imisight.net" }}',
    redirect: '{{ getv "/imisight/auth0/redirect" "http://localhost:4200/callback" }}',
    home: '{{ getv "/imisight/auth0/home" "http://localhost:4200" }}',
    scope: 'openid profile'
  },
  info: {
    token: '{{ getv "/info/token" "something went wrong" }}'
  }
};
